# Python EinfÃ¼hrung
## Erste Anweisung

In [56]:
print("Hello World")

Hello World

In [57]:
# Das ist ein Kommentar
print("Something")

Something

In [58]:
name = "Lovelace"

In [59]:
print(name)

Lovelace

In [60]:
age = 73
print(age)

73

In [61]:
size = 1.7123
print(size)

1.7123

In [62]:
type(age)

int

In [63]:
type(name)

str

In [64]:
age + size

74.7123

In [65]:
alter ="73"

In [66]:
age + int(alter)

146

In [67]:
knows_math = True

In [68]:
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [69]:
age * 100

7300

In [70]:
age / 100

0.73

In [71]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [72]:
len(name)

8

In [73]:
name.upper()

'LOVELACE'

In [74]:
name

'Lovelace'

In [75]:
name_capital = name.upper()

In [76]:
print(name_capital)

LOVELACE

In [77]:
name.count("l")

1

In [78]:
name.replace("lace",  " is everywhere")

'Love is everywhere'

## Container: Listen und Dictionaries

In [79]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [80]:
names[2]

'Curie'

In [81]:
names[0]

'Lovelace'

In [82]:
names[3]

'Hawking'

In [83]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [84]:
names[0:2]

['Lovelace', 'Darwin']

In [85]:
print(names[2:])

['Curie', 'Hawking']

In [86]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [87]:
names[-1]

'Hawking'

In [88]:
%who

age	 alter	 knows_math	 likes_slacking	 mix	 name	 name_capital	 names	 size

In [89]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Noether": 1942}

In [90]:
authors_and_birth_years["Darwin"]

1809

In [91]:
for name in names:
    print(name)

Lovelace
Darwin
Curie
Hawking

In [92]:
for name in names:
    print(name + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [95]:
for name in names:
    print(name + " did awesome stuff.")
print("Is a scientist")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
Is a scientist

## Bedingte Anweisungen (Conditionals)

In [97]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [98]:
20 > 15

True

In [99]:
20 > 70

False

In [101]:
temp = 10 
if temp > 15:
    print("It's warm")
else: 
    print("Its's cold")

Its's cold

In [102]:
temp = 10 
if temp > 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else: 
    print("It's cold")

It's cold

In [103]:
temp1 = [1, 2, 8, 9, 48, 39]

In [105]:
temp = 18 
if temp > 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else: 
    print("It's cold")

It's warm

In [107]:
temp = 18 
if temp > 15:
    print("It's warm")
elif temp > 25:
    print("It's hot")
else: 
    print("It's cold")

It's warm

In [110]:
for name in names:
    print(name)

Lovelace
Darwin
Curie
Hawking

In [111]:
for name in names:
    print(len(name))

8
6
5
7

In [112]:
for name in names:
    if len(name) > 5:
        print(name)

Lovelace
Darwin
Hawking