In [2]:
import pandas as pd

In [6]:
my_awesome_df = pd.DataFrame({"authors": ["Darwin", "Sagan" , "Feyman"], "articels": [40,100;900]})

SyntaxError: invalid syntax (<ipython-input-6-79bf1cc2ca6e>, line 1)

In [4]:
my_awesome_df

  authors  articels
0  Darwin        40
1   Sagan       100

In [5]:
my_awesome_df

  authors  articels
0  Darwin        40
1   Sagan       100

In [7]:
print (my_awsome_df)

NameError: name 'my_awsome_df' is not defined

In [8]:
print (my_awesome_df)

  authors  articels
0  Darwin        40
1   Sagan       100

In [9]:
my_awesome_df["authors"
             ]

0    Darwin
1     Sagan
Name: authors, dtype: object

In [10]:
https://raw.githubusercontent.com/silviadg87/example_table_hacky_hour/master/SalesJan2009.csv

SyntaxError: invalid syntax (<ipython-input-10-e2426fbb28cf>, line 1)

In [11]:
"https://raw.githubusercontent.com/silviadg87/example_table_hacky_hour/master/SalesJan2009.csv"

'https://raw.githubusercontent.com/silviadg87/example_table_hacky_hour/master/SalesJan2009.csv'

In [12]:
url = "https://raw.githubusercontent.com/silviadg87/example_table_hacky_hour/master/SalesJan2009.csv"

In [13]:
import urllib.request

In [14]:
sales_file = "salves.csv"

In [15]:
https://raw.githubusercontent.com/silviadg87/example_table_hacky_hour/master/SalesJan2009.csv

AttributeError: module 'urllib.request' has no attribute 'urlretireve'

In [16]:
urllib.request.urlretreive(url, sales_file])

SyntaxError: invalid syntax (<ipython-input-16-8daa8e44d260>, line 1)